.Delivery { 
    background: url("../images/pinkBackBigger.svg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 161.5rem;
    margin-top: 15rem;
    margin-bottom: 14rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    #headline {
        padding-top: 30rem;
        h1 {
            font-size: $l-size;
            text-align: center;
            color: $black;
            font-weight: 700;
        }
    }
    #img {
        // padding-top: 25rem;
        margin-top: 15rem;
        background: url("../images/map2.png") no-repeat center;
        background-size: contain;
        width: 99.3rem;
        height: 72rem;
    }
}


@media only screen and (max-width: 420px){
    .Delivery { 
        background: url("../images/delivBackMob.svg") no-repeat center;
        background-size: cover;
        width: 100%;
        height: 54.8rem;
        margin-top: 15rem;
        margin-bottom: 6.7rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        #headline {
            padding-top: 9.3rem;
            h1 {
                font-size: $m-size;
                text-align: center;
                color: $black;
                font-weight: 700;
            }
        }
        #img {
            margin-top: 5.5rem;
            background: url("../images/map2mob.png") no-repeat center;
            background-size: contain;
            width: 31.2rem;
            height: 22.6rem;
        }
    }
}