.Header {
    width: auto;
    margin-left: 20.1rem;
    margin-right: 20.1rem;
    margin-top: 5.6rem;
    margin-bottom: 11rem;
    display: flex;
    justify-content: space-between;
    align-content: center;

    .Logo {
        h1 {
            font-size: $l-size;
            font-weight: 700;
            color: $red;
        }
    }

    .Menu {
        display: flex;
        align-content: center;
        justify-content: space-between;
    }
    .MenuTag {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        
        margin-left: 4.4rem;
        h2 {
            font-size: 2.4rem;
            font-weight: 600;
        }
    }
    @media only screen and (max-width: 480px) {
        margin-left: 3rem;
        margin-right: 3rem;
        margin-top: 4rem;
        margin-bottom: 0rem;

        .Logo {
            h1 {
                font-size: $m-size;
            }
        }
        .burg {
            background: url('../images/burger.svg') no-repeat center;
            width: 2.5rem;
            height: 2.2rem;
            margin-top: 0.72rem;
        }
        #active {
            transform: rotate(90deg);
        }
    }
}

@media only screen and (max-width: 480px) {
    .Menu {
        z-index: 99;
        height: 100vh;
        position: sticky;
        top:0;
        background-color: $black;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.8rem;
        .MenuTag{
            margin-top: 2rem;
            h2 {
                font-weight: 600;
            }
        }
    }
}