.offer {
    display: flex;
    justify-content: space-between;
    .offer-text {
        margin-top: 11rem;
        margin-left: 20rem;
        h1 {
            font-size: $xxl-size;
            color: $pink;
        }
        p {
            margin-top: 3rem;
            font-weight: 700;
            font-size: $l-size;
            width: 58rem;
        }
        button {
            margin-top: 9rem;
            @extend %pink-box;
            width: 14rem;
            height: 6rem;
            font-size: $l-size;
            font-weight: 600;
        }
    }
    .offer-image {
        margin-right: 30rem;
        background: url("../images/smoothie-cup.png") no-repeat center;
        background-size: contain;
        width: 65rem;
        height: 65rem;
    }

    @media only screen and (max-width: 480px) {
        width: 100vw;  
        flex-direction: column;
        align-items: center;

        .offer-text {
            margin-top: 6rem;
            margin-left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            h1 {
                font-size: $l-size;
                width: 21rem;
                text-align: center;
            }

            p {
                font-size: $xs-size;
                width: 32.6rem;
                text-align: center;
            }

            button {
                margin-top: 4rem;
                width: 10rem;
                height: 4rem;
                border-radius: .7rem;
                font-size: $m-size;
            }
        }

        .offer-image {
            margin: 0;
            width: 30rem;
            height: 30rem;
        }
      }
}
