.offer {
    display: flex;
    .offer-text {
        margin-top: 10rem;
        margin-left: 20rem;
        h1 {
            font-size: $xxl-size;
            color: $pink;
        }
        p {
            margin-top: 3rem;
            font-weight: 800;
            font-size: $l-size;
            width: 58rem;
        }
        button {
            margin-top: 9rem;
            @extend %pink-box;
            width: 14rem;
            height: 6rem;
            font-size: $l-size;
            font-weight: 600;
        }
    }
    .offer-image {
        background: url("../images/smoothie-cup.svg") no-repeat center;
        background-size: cover;
        margin-left: 10rem;
        width: 67rem;
        height: 67rem;
    }
}
