html {
    font-size: 10px;
}
body {
    font-family: "Poppins", Arial, sans-serif;
    background-color: $black;
<<<<<<< HEAD
    color: rgb(255, 255, 255);
=======
    color: white;
}

*{
    margin: 0;
}

%pink-box {
    background-color: $black;
    color: white;
    border: .3rem solid $pink;
    border-radius: 1rem;
>>>>>>> 8436391ddfa6fe05b5f6b27a53aaf5e5bf9e47e7
}