html {
    font-size: 10px;
}
body {
    font-family: "Poppins", Arial, sans-serif;
    background-color: $black;
    color: white;
}

h1,h2,h3,p {
    margin: 0;
}

%pink-box {
    background-color: $black;
    color: white;
    border: .3rem solid $pink;
    border-radius: 1rem;
}