html {
    @media only screen and (min-width: 820px) {  
        font-size: 5px;
      }
      @media only screen and (min-width: 820px) {  
        font-size: 6px;
      }
      @media only screen and (min-width: 1300px) {  
        font-size: 7px;
      }
      @media only screen and (min-width: 1535px) {  
        font-size: 8px;
      }
      @media only screen and (min-width: 1649px) {  
        font-size: 9px;
      }
      @media only screen and (min-width: 1919px) {  
        font-size: 10px;
      }     
      @media only screen and (min-width: 2559px) {  
        font-size: 13px;
      } 
}
body {
    font-family: "Poppins", Arial, sans-serif;
    background-color: $black;
    color: white;
}

*{
    margin: 0;
}

%pink-box {
    background-color: $black;
    color: white;
    border: .3rem solid $pink;
    border-radius: 1rem;
}